/* main CSS styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #000000;
}

#menu {
    display: none;
}

header {
    background-color: #07395f;
    color: #fff;
    /* padding: 10px; */
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header h1{
    color: white;
    padding-top: 10px;
}
#hero div h1{
    color: rgb(238, 143, 20);
}
#hero div a{
    color: #fff;
    text-decoration: none;
    background-color: #C56E3E;
    padding: 10px;
}
#hero div a:hover{
    background-color: #55cbd3;
    color: #000000;
}


#hero {
    background-color: #07395f;
    color: #fff;
    padding: 50px 50px;
    text-align: center;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}



#hero p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.6;
}

/* #hero{
    margin: 0 auto;
} */

nav {
    background-color: #07395f;
    color: #07395f;
    padding-top: 100px;
    margin-bottom:  20px ;
    display: flex;
    position: fixed;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;

}

nav ul li {
    display: inline-block;
    margin: 10px 10px;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #C56E3E;
}

nav ul li a {
    background-color: #55cbd3;
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

main {
    padding: 20px;
}


.event-heading{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    grid-column: 1/span 3;
} 

#current-events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
    grid-area: auto;
}

#current-events h2 {
    text-align: center;
} 

.event {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

.event img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.event p {
    margin-bottom: 10px;
}

.event a {
    display: block;
    background-color: #07395f; 
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 90px;
    transition: background-color 0.3s ease; 
}



.event a:hover {
    background-color: #C56E3E;
    color: #000;
}

#spotlights_card {
    padding: 40px 20px;
    background-color: #f9f9f9;
}

#spotlights_card h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #07395f;
}

.spotlight {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    /* padding: 20px; */
    transition: box-shadow 0.3s ease;
}

.spotlight:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.spotlight img {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.spotlight p {
    color: #333333;
    font-size: 16px;
    line-height: 1.6;
    /* margin-left: 10 px; */
    padding-left: 20px;
    overflow: hidden;
    width: 50%;
}

.weather-info p{
    text-align: center;

}
.weather-info{
    background-color: #55cbd3;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
    border-bottom: 2px solid #1b6192;
    padding-bottom: 20px;
}
section h2 {
    text-align: center;
    text-decoration: underline;
}

h1, h2 {
    color: #1b6192;
}

ul, ol {
    margin-left: 20px;
}

footer {
    background-color: #07395f;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: small;
    
}



body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-family: Arial, sans-serif;
}



#sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#main-content {
    padding: 20px;
}

.photos img {
    width: 75%;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photos img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}



h2, h3 {
    color: #333;
}

#sidebar h2, #sidebar h3 {
    transition: color 0.3s ease;
}

#sidebar h2:hover, #sidebar h3:hover {
    color: #0e5f76;
}

#sidebar a {
    color: #0e5f76;
    text-decoration: none;
    transition: color 0.3s ease;
}

#sidebar a:hover {
    color: #333;
}

button {
    padding: 10px 15px;
    background-color: #0e5f76;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}