body {
    font-family: 'Roboto', sans-serif;
}
header{
    font-family: 'Roboto', sans-serif;
}

.hero img {
    width: 100%;
    height: auto;
}

.herolabel {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: radial-gradient(#ffffff, #a7d4e8);
	border: 2px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.35;
}



.herolabel p {
	margin: 0;
	padding: 0.25rem;
	font-weight: 700;
	font-size: 1.5rem;
    color: #000000;
    white-space: nowrap;
}

h1 {
    text-align: center ;
}  

*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    color: rgb(255, 255, 255);
 }
h1 {
    color: #133748;
}
header, footer {
    background-color:#133748;
    color: #fff;
    text-align: center;
    width: 100%;
}

.header-content {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.header-content span {
    font-size: 2rem; 
    font-weight: bold; 
}

.header-content img {
    border-radius: 25px; 
    margin-right: 10px;
    padding: 5px;
    box-shadow: 2px 2px 20px black;
}


header, nav{
    margin-top: 5px;
}

nav {
    background-color: #133748;
    padding: 10px;
}


nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: block;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: #66c0cc;
    color:black;
}

nav .active {
    background-color: rgba(0, 0, 0, 0.4);
}

h1 {
    text-decoration: underline;
    margin: 2rem 2vw;
    padding: 10px;
}

h2 {
    text-align: center;
    padding: 5px;
    background-color: #133748;
    margin: auto;
}

p {
    padding: 10px 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.parent {
    margin: 2rem 2vw;
}

.parent section {
    border: 3px solid rgb(0, 0, 0)
    ;
    background-color: #66c0cc;
    color: #fff;
    border-radius: 5px;
    box-shadow: 4px 6px 20px grey;
}

main ul li {
    list-style-type: none;
    padding: 10px 0 0 20px;
}

main a {
    color: #050505;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.card {
    margin: 15px 0 15px;
}
.card span{
    color: rgb(5, 5, 5);
}

.card ul li a:hover{
    color: rgb(253, 254, 255);
}
.card p {
    color: black;
}


/* Hamburger menu styles */
#menu {
    font-size: 1.5rem;
    background-color: #133748;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: none;
    width: 100%;
    background-color: #66c0cc ;
    padding: 1rem 0;
}

.navigation.open {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    padding: 0.1rem 0.1rem;
    transition: background-color 0.3s ease;
}

.navigation a:hover {
    background-color: #133748;
}


/* Light mode styles */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --heading-color: #000000;
  }
  
  /* Dark mode styles */
  .dark-mode {
    --bg-color: #333333;
    --text-color: #ffffff;
    --heading-color: #ffffff;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  h1 {
    color: var(--heading-color);
  }
#theme-toggle{
    background-color: #000000;
    margin-left: 200px;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0.5em ;
}
iframe {
    border: 0;
    margin-bottom: 20px;
}


footer div {
    display: flex; 
    align-items: center;
    justify-content: center;
    display: block;
    max-width: 100%;
}
@media (min-width: 600px) {
    #menu {
        display: flex; 
    }

    .navigation {
        display: flex;
        flex-direction: column;
    }
}